.navcolor {
    background-color: rgb(51, 58, 64);
}


.codoacodo {
    width: 9rem;
    height: 5rem;
}
.imgmain{
    background-image:url(../Integrador/ba1.jpg);
}
.buttoncolor{
    background-color: rgb(150, 201, 62);
    
}
.footercolor {
 background-color: rgb(27, 56, 72);
}
