.navcolor {
    background-color: rgb(51, 58, 64);
}


.codoacodo {
    width: 9rem;
    height: 5rem;
}
.imgmain{
    background-image:url(https://github.com/flor1706/Integrador--Java-CAC-22544/blob/5307a53e087200a192a362c7502944ca27dcac74/ba1.jpg);
}
.buttoncolor{
    background-color: rgb(150, 201, 62);
    
}
.footercolor {
 background-color: rgb(27, 56, 72);
}
